.app {
  position: relative;
  width: 100%;
  height: 100%;

  background: #ffffff;
}
.app__header {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
